<h2>code</h2>

<pre><code class="bash" data-trim>
npm install -g yo
sudo npm install -g yo # si nous avons besoin de permissions supplémentaires
</code></pre>
    
<aside class="notes">
    Put your speaker notes here.
    You can see them pressing 's'.
</aside>
