<h2>Tout est dans ma tête</h2>

<!-- width="640" height="480" -->
<iframe data-autoplay class="stretch" src="//www.youtube.com/embed/aQyXeLSL0II?start=25&rel=0&end=43&autohide=1&enablejsapi=1" frameborder="0" allowfullscreen></iframe>

<aside class="notes">
Seinfeld: kramer
video
</aside>
